
/*
 * Hoja de estilos Personal
*/

/*.bdo-card.agency-card .agency-details .schedule .hours {
    font-weight: normal;
}*/

small.day.open{
	margin-bottom: 0px !important;
	margin-top: 0.5rem !important;
}

.strong-day, .strong-day .hours{
	font-weight: bold !important;
}

.no-margin-bottom{
	margin-bottom: 0!important;
}

/* width */
.dropdown-pane.slc-departamentos {
	height: 50%;
	overflow-y: auto;
}
/* width */
.dropdown-pane::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.dropdown-pane::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.dropdown-pane::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
.dropdown-pane::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.orbit-bullets.bdo button.is-active{
	background: #F4801F;
}
.orbit-bullets.bdo button{
	background: #F4801F;
	opacity:0.5;
}

.orbit-slide.transparent, .photo-hero-header.transparent{
  background: transparent !important;
}
.orbit-slide.transparent img,.photo-hero-header.transparent img {
  opacity: initial !important;
}

.is-drilldown1{
  overflow: visible !important;
}

.text-capitalize{
  text-transform: capitalize;
}

.no-padding-t3x{
  padding-top: 0!important;
}
.no-padding-b3x{
  padding-bottom: 0!important;
}

.edu-card img{
  border-radius: 6px !important;
}
img.size-yb{
  min-width: 250px;
  min-height: 140px;
}
.icon-size-lg{
  font-size: 4rem!important;
}
@media screen and (max-width: 63.99875em) {
  .faux-grd-footer i{
    font-size: 3rem!important;
  }
  .faux-grd-footer p{
    font-size: 0.7rem!important;
  }
  .faux-grd-footer img{
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 39.99875em){
  .faux-grd-footer i{
    font-size: 2rem!important;
  }
  .faux-grd-footer p{
    font-size: 0.7rem!important;
  }
  .faux-grd-footer img{
    width: 50px;
    height: 50px;
  }
  .orbit-slide.bdo .orbit-bg{
    object-fit: fill;
  }
  .bdo.home-slider .orbit-slide.bdo {
    height: 67vh;
  }
  .text-shadow.slide-title{
    font-size: 14px;
  }
  .orbit-slide.bdo .slide-content h2 {
      font-size: 1.3rem;
  }
  .orbit-slide.bdo .slide-content p.slide-lead {
      font-size: 1rem;
  }
  .photo-hero-header .hero-content p.lead {
      font-size: 1rem;
  }
	.cell-canva{
	  min-height: 350px !important;
	}
}

.faux-grd-footer {
    background-image: linear-gradient(0deg, rgba(252, 253, 255, 0) 0%, rgba(0, 0, 0, 0.03) 100%);
}

@media screen and (max-width: 63.99875em) {

  ul.pagination>li{
    display: inline-block;
  }

  ul.pagination .current {
      padding: 0.1rem 0.8rem;
  }

  ul.pagination a, ul.pagination button {
      padding: 0.1rem 0.8rem;
      margin-top: 0.4rem;
  }

}

.has-error{
  border: 1px solid #E15151 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  /*border:1px solid #E15151;*/
}

.wizard-amount-input input.formatCoins[type="text"] {
    border: none;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: 900;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    appearance: none;
}

.wizard-amount-input input[type="text"].error[readonly] {
    color: #E05253;
}

input[type="text"]:-internal-autofill-selected {
    background-color: #fff !important;
}

.bdo-currency-widget .tabs-content-conversor{
  padding: 0.5rem 0 0.5rem 0.3rem !important;
}

nav#bdo-nav-dsk .bdo-logo-dsk a img {
    max-width: 10.5rem !important;
}

.no-padding-right{
  padding-right: 0 !important;
}

.no-padding-left{
  padding-left: 0 !important;
}

a>span.has-tip:hover {
    background: rgba(187, 212, 187, 0.4);
}

a>span.has-tip {
  background: #f3f4f6 !important;
  box-shadow: 0 0 0px 0 #f3f4f6 !important;
}

select {
  -webkit-appearance: none !important;
  height: 4rem;
}

.callout.success {
    background-color: #bee2d0!important;
}

.calculadoras.height-160 {
    height: 14rem!important;
}

.calcu-deco {
    margin-top: 2.5rem !important;
}

@media screen and (min-width: 64em){
  .generic-hero-header img.calcu-deco {
      position: absolute;
      right: -0%;
      top: -20%;
      display: block;
      width: 15%;
      height: auto;
  }

  .float-btn{
    position: relative;
    bottom: 10rem;
  }

  .float-btn2{
    position: relative;
    bottom: 5rem;
  }

  .valor-final{
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 63.99875em){
  .generic-hero-header img.calcu-deco {
    display: none;
  }
}

.button.bdo-grey-btn{
  background-color: #e6e6e6 !important;
  color: #afafaf;
}

.button.bdo-grey-btn:hover{
  background-color: #c3c3c3 !important;
  color: #ffff;
}

.btn-next-step, .btn-back-step{
  margin: 1rem 0 2rem;
}

.wizard-next{
  padding: 0 1.5rem 0 1.5rem;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #4d984d;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.operator-btnAnios {
    margin: 0 0 0 0rem;
    padding: 0.2rem;
    margin: 0 !important;
    font-size: 1.7rem;
    color: #7A9087;
    background: transparent;
    border-radius: 100px;
    font-size: 1.8rem !important;
}

button.operator-btnAnios:focus, button.operator-btnAnios:hover{
  color: #0D9A49;
  background: #F3F4F6;
  cursor: pointer;
}

.button.operator-btnAnios[disabled], .button.operator-btnAnios[disabled]:hover {
  color: #7A9087;
  background: transparent;
  cursor: not-allowed;
}

[type='radio'] + label{
  font-size: 1rem;
}

#bdo-puntual {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 0;
}

#bdo-login-btn-dsk, #bdo-puntual{
  width: 100%;
  float: right;
}

.cell.shrink.puntual {
  width: 77%;
}

.cell-canva{
  padding: 20px;
}

.converter-result{
  padding: 10px 0px 0px 15px !important;
}

.cell.cell-covid{
  background: linear-gradient(90deg, #fffaf3 0%, #ffd1ab 100%); !important;
}

.gray-grid{
  background-color: #eeeff1;
}

.billboard.billboard-contact{
  height: 45vh !important;
}

.one {
   opacity: 0;
   -webkit-animation: dot 1.3s infinite;
   -webkit-animation-delay: 0.0s;
   animation: dot 1.3s infinite;
   animation-delay: 0.0s;
}

.two {
   opacity: 0;
   -webkit-animation: dot 1.3s infinite;
   -webkit-animation-delay: 0.2s;
   animation: dot 1.3s infinite;
   animation-delay: 0.2s;
}

.three {
   opacity: 0;
   -webkit-animation: dot 1.3s infinite;
   -webkit-animation-delay: 0.3s;
   animation: dot 1.3s infinite;
   animation-delay: 0.3s;
}

@-webkit-keyframes dot {
   0% {
       opacity: 0;
   }
   50% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}

@keyframes dot {
   0% {
       opacity: 0;
   }
   50% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}

.has-error{
  margin-bottom: 0px;
}

.error{
  font-size: 14px !important;
  margin-bottom: 10px;
  color: #E15151 !important;
}

.insta-s1x{
  margin-top: 5px;
  font-size: 18px!important;
}

/*CSS GESTIONES*/
select.normal-size{
	height: 3.4375rem !important;
}

textarea{
	resize: none;
}

/* checkbox aspect */
.chk-gestiones[type="checkbox"]:not(:checked) + label:before,
.chk-gestiones[type="checkbox"]:checked + label:before {
  width: 2rem !important;
  height: 2rem !important;
}

/* checked mark aspect */
.chk-gestiones[type="checkbox"]:not(:checked) + label:after,
.chk-gestiones[type="checkbox"]:checked + label:after {
  top: 0.80rem !important;
  left: 0.3em !important;
  font-size: 0.8em !important;
  /*line-height: 0.9;*/
}

label.lbl-chk-gest {
  padding-left: 2em !important;
	padding-top: 0.1em !important;
	font-size: 1.1rem !important;
}

.has-error2{
	color: #E15151 !important;
}
